<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue2</title>
</head>
<body>
    <div id="app">
        <h1>To do list</h1>
        <input type="text" placeholder="type..." v-model="toDoText">
        <button type="button" @click="createItem">Add</button>
        <div>
            <p v-for="(item, index) in list">
                {{index+1}}. {{item}}
                <button type="button" @click="deleteItem">delete</button>
            </p>
        </div>
        <hr>
        <button @click="clearAll">Delete all</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data(){
                return {
                    toDoText: '',
                    list: [],
                }
            },
            methods: {
                createItem(){
                    this.list.push(this.toDoText);
                    this.toDoText = '';
                },
                deleteItem(index){
                    this.list.splice(index,1);
                },
                clearAll(){
                    this.list = [];
                },
            },
        }).mount("#app")
    </script>
</body>
</html>